
.App {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  margin: 40px auto;
  min-height: 200px;
}
.App header {
  text-align: center;
}


.section {
  position: relative;
  padding: 25px;
  border-radius: 10px;
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  text-align: center;
}
.section button {
  margin: auto;
  background: #fff;
  border: none;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
